certifi==2024.12.14
charset-normalizer==3.4.1
et_xmlfile==2.0.0
gunicorn==23.0.0
idna==3.10
numpy==2.0.2
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pyaes==1.6.1
Pyrogram==2.0.106
PySocks==1.7.1
pyTelegramBotAPI==4.26.0
python-dateutil==2.9.0.post0
python-dotenv==0.20.0
pytz==2024.2
requests==2.32.3
setuptools==75.8.0
six==1.17.0
tzdata==2024.2
urllib3==2.3.0
